Options -MultiViews
DirectoryIndex index.html index.php

RewriteEngine On

# Redireciona requisições que não são arquivos físicos para o index.html (React SPA)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]